


body {
	font-family: 'Lato', sans-serif;
	color: #fff;
}
.clear {
	clear: both;
}
.rel{
	position: relative;
}
.in-block{
	display:inline-block;	
}
.block{
	display: block;
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}
.fxd{
	padding: 15px 0;
	background-color: #000;
}

.btn-primary{
	text-align: center;
	border-radius: 0;
	border-color: #76a74b;
	background-color: #76a74b;
}
.btn-primary-block{
	display: block;
	text-transform: uppercase;
	margin:50px 100px 0;
	padding: 18px 0;
	font-size: 16px;
}
.btn-primary:hover{
	border-color: #76a74b;
	background-color: #76a74b;
}

/*header*/
.header-menu{
	text-align: center;
	position: absolute;
    left: 0;
    right: 0;
    top: 20px;
}
.header-menu .logo{
	margin: 0;
	margin-left: 15px;
	text-align: left;

}
.header-menu a{
	color: #fff;
	padding: 7px 2%;
    display: inline-block;
    
}
.menu-collapse {
	background: rgba(0, 0, 0, 0.498039);
}
.subNavBtn {
	display: inline-block;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 0 2%;
	text-align: center;
	color: #fff;
}
.subMenu a:hover {
	background: #1783c7;
}

.active {
	background: #25aae1;
}
.end {
	margin: 0;
}
.wrap {
	width: 100%;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;
}
.subMenu {
	z-index: 1000;
	width: 100%;
	
}
/*sTop*/
.sTop {
	padding: 40px;
	background:url(../images/bg-dev1.jpg) no-repeat;
	background-size: cover;
	color:#fff;
}
.sTop-right h1{
	font-weight: 900;
	margin: 30px 0 20px
}
.sTop-right span{
	display:block;
	margin-bottom:40px;
	font-size: 18px;
}
.sTop-right p{
	margin-bottom:40px;
	font-weight:300;
	display: inline-block;
}
.sTop-right .btn-primary{
	margin-right:15px;
	padding: 10px 28px;
	font-weight: 700;
	font-size: 16px
}
.sTop-right  small{
	font-size: 14px;
}
.asterisk{
	margin-top: 20px;
}
/*s1*/
.section {
	overflow: hidden;
	padding: 50px 0;
	
}
.s1{
	
	color:#353535;
} 
.section h3{
	font-size: 46px;
	font-weight: 900;
}

.intro{
	font-size: 22px;
	font-weight: 300;
}
.des p{
	margin:25px 0;
	font-size:20px;
}
.post{
	text-align: center;
	margin-top:100px;
}
.post .author-name {
	color: #949494;
}
.post p{
	margin:0;
	color:#76a74b;
	font-size: 22px;
}
.sTop .asterisk .fa {
	color: #76a74b;
}
/*s2*/
.s2{
	background:url(../images/bg-s2.jpg) no-repeat;
	background-size: cover;
}
.circle{
	display: inline-block;
	width:135px;
	height:135px;
	border-radius:50%;
	background-color: #b4b1b2;
	border: 2px solid #e7e3e3;
}
.word{
	clear: both;
	text-align: center;
	min-height: 135px;
	margin: 35px 0;
	padding: 5px 0;
}


.des h4{
	font-size: 20px;
	font-weight: 700;
}
.s2 .des p{
	font-size: 16px;
}
/*s3*/
.s3{
	color:#353535;
}

.s3 .des span{
	font-weight: 300;
}
/*s4*/
.s4{
	background-color: #f8f7f7;
	color:#353535;
}
.s4 .col{
	margin: 45px 0;
}
.s4 img{
	float:left;
}
.s4-des{
	margin-left: 100px;
}
.s4-des h4{
	font-weight: 700;
}
.s4 .btn-primary{
	display: inline-block;
	padding: 10px 35px;
	margin:20px 60px;
}
.s4 .post p{
	font-size: 22px;
}
/*banner*/
.banner{
	padding:100px 0;
	background:url(../images/bg-banner.jpg) no-repeat;
	background-size: cover; 
}
.banner h5{
	margin-bottom: 45px;
	font-size: 20px;
}
.banner p{
	font-size: 16px;
}
.banner .btn-primary-block{
	width:50%;
	margin: 50px auto;
}
/*s5*/
.s5 {
	color: #353535;
}
.s5 h4{
	font-size: 26px;
	font-weight: 900;
}
.s5 h4 .prof{
	text-transform: uppercase;
	font-weight: 400;
}
.s5 .name{
	font-weight: bold;
}
.s5 img{
	display:block;
	width: 200px;
	height: 200px;
	margin: 100px auto;
}
.s5 .award {
	padding: 0 20px;
}
.s5 .des ul {
	padding-left: 100px;
}
.s5 .des ul li {
	color: #76a74b;
}
.s5 .des ul li span{
	font-size: 20px;
	color: #353535;
}
/*related*/
.related{
	padding:150px 0 150px;
	color:#3a393a;
	background-color: #f8f7f7;
}
.related h4{
	margin:20px 0;
	font-weight: 900;
}

.related img{
	display: block;
	margin: 100px auto 20px;
}
.related .col-xs-12 .btn-primary{
	padding: 20px 0;
}
.related .btn-primary-block{
	margin: 20px 0;
}
.related .btn-primary{
	text-transform: uppercase;
	padding:20px 70px;
}
@media(max-width: 500px){
	.nav>li>a {
		padding: 10px;
	}
	button.navbar-toggle{
		margin-top: 0;
	}
	/*sTop*/
	.sTop img{
		width:100%;
		margin-top: 50px;
	}
	.sTop-right h1{
		font-size: 40px;
	}
	.sTop-right .btn-primary{
		margin: 10px 0;
		padding: 15px 25px;
	}
	/*s1*/
	.s1 .btn-primary-block{
		margin: 20px 0;
	}
	/*post*/
	.des p{
		font-size:16px;
	}
	.section{
		padding: 50px 0;
	}
	.section h3{
		font-size: 24px;
	}
	/*s3*/
	.s3 .btn-primary-block{
		margin: 20px 0;
	}
	/*s4*/
	.s4 .post img{
		float: none;
	}
	/*banner*/

	.banner .btn-primary-block{
		width:100%;
	}
	/*related*/
	.related h3{
		float: none;
	}
}
@media(min-width: 768px){
	.nav>li>a {
		padding: 10px;
	}
	.header-menu .logo{
		float: left;
		margin: 0;
	}
	.header-menu .social{
		float: right;
	}
	.main-nav {
		width: 69%;
	}
	.header-menu a {
		padding: 5px;
		font-size: 13px;
	}

	.menu-collapse {
		background: transparent;
	}
	/*sTop*/
	.sTop{
		padding: 170px 0 100px;
	}	
	.sTop-right .btn-primary {
		padding: 10px 15px;
		font-size: 14px;
	}
	/*post*/
	.post{
		text-align: inherit;
		left:25%;
		padding:15px;
	}
	.post img{
		position: absolute;
		top:0;
		left: -66px;
	}
	/*s2*/
	.word1{
		text-align: left;
		margin-left: 200px;
	}
	.circle{
		float: left;
	}
	/*banner*/
	.banner h5{
		font-size: 28px;
	}
	.banner p{
		font-size: 18px;
	}
	/*related*/
	.related img{
		width: 100%;
	}
	.related h3{
		float: left;
	}
}
@media(min-width: 992px){
	.nav>li>a {
		padding: 10px;
	}
	.sTop-right .btn-primary {
		padding: 10px 28px;
		font-size: 16px;
	}
	.header-menu a {
		padding: 7px 2%;
		font-size: 14px;
	}
	.subNavBtn {
		height: 35px;
	}
	/*post*/
	.des{
	margin:50px 170px;
	}
	.related img{
		width: initial;
	}
}
@media(min-width: 1200px){
	.main-nav {
		width: 75%;
		margin: 0;
	}
	.social a{
		padding: 7px 10px;
	}
}
@media(min-width: 1600px){
	
}



















